{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<!-- <div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>{% trans "Sign Up" %}</h3>

            <p>{% blocktrans %}Welcome to Eventboard. Do you already have an account? Then please <a
                    class="link" href="{{ login_url }}">sign in</a> instead.{% endblocktrans %}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-signup right" type="submit">{% trans "Sign Up" %} &raquo;</button>
            </form>
        </div>
    </div>
</div> -->

<!-- New style -->

<div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
          Join EventBoard, <br />
          <span style="color: hsl(218, 81%, 75%)">and make your event the one to talk about.</span>
        </h1>
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
          You're just a few clicks away from joining the EventBoard community. Find events in your area, talk about them, and even post your own!
        </p>
        <p>{% blocktrans %}Do you already have an account? Then please <a
            class="link" href="{{ login_url }}">sign in</a> instead.{% endblocktrans %}</p>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-signup right" type="submit">{% trans "Sign Up" %} &raquo;</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}