{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}


<div class="container">
    <div class="row">
    <div class="col-md-6 mb-4 mt-3">
        <div class="post-form-card">
            <h3>New post</h3>
            <p>Posting as: {{ user.username }}</p>
            <form method="POST" class="post-form" style="margin-top: 1.3em;">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-signup btn-lg">Submit</button>
            </form>
            </div>
        </div>
    </div>
    </div>


{% endblock %}